@{
    ViewData["Title"] = "Introduction";
}
<h1>@ViewData["Title"]</h1>

<p>Simple CRUD Web Application with Bootstrap and EF Core.</p>

<ol>
    <li>This is a demo web application for managing a list of products (name, price, category) using ASP.NET MVC and Jquery.</li>
    <li>Use Entity Framework Core with an in-memory database to store product information.</li>
    <li>
        The application allows users to:
        <ul>
            <li>Create, read, update, and delete (CRUD) products.</li>
            <li>validation for required fields and price range.</li>
            <li>Use Bootstrap to make the UI responsive and visually organized.</li>
        </ul>
    </li>
</ol>
